body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f3f3f3;
    box-sizing: border-box;
    align-items: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header {
    background: white;
    color: white;
    text-align: center;
    padding: 20px;
}

.logo {
    width: 250px;
    align-items: center;
}

.content {
    padding: 20px;
}

.contact-list {
    list-style-type: none;
    padding: 0;

   a:link,:visited,:hover,:active{
        text-decoration: none;
        color: brown;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }
}

.contact-list li {
    margin: 10px 0;
}

.contact-list img {
    width: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.share-btn {
    background: #ff7a00;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 20px;
}
h3{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: rgb(96, 28, 28);
}
p{
    color: grey;
    
}

